# Environment variables
.env

# Dependencies
node_modules/

# Build output
dist/

# Runtime data
mirror-data.jsonl
mirror-state.json

# Log files
*.log

# OS files
.DS_Store

update/*

aws-instance-info.txt